In [10]:

# Exercise 1: Working with Integers and Floats
integer_var = 10
float_var = 5.5
result = integer_var + float_var
print("Exercise 1 Result:", result)

# Exercise 2: Type Conversion (Integer to Float)
int_var = 42
float_converted = float(int_var)
print("Exercise 2 Original Integer:", int_var)
print("Exercise 2 Converted to Float:", float_converted)

# Exercise 3: String to Integer Conversion
string_number = "42"
integer_converted = int(string_number)
print("Exercise 3  string_number:", string_number)
print("Exercise 3 Converted Integer:", integer_converted)

# Exercise 4: Casting a Float to Integer
float_val = 8.75
integer_cast = int(float_val)
print("Exercise 4 Original Float:", float_val)
print("Exercise 4 Cast to Integer:", integer_cast)

# Exercise 5: Type Checking
int_check = 100
float_check = 10.5
string_check = "Hello, World!"
print("Exercise 5 Integer Type:", type(int_check))
print("Exercise 5 Float Type:", type(float_check))
print("Exercise 5 String Type:", type(string_check))

# Exercise 6: String Concatenation
string1 = "Hello"
string2 = "World"
concatenated = string1 + " " + string2
print("Exercise 6 Concatenated Strings:", concatenated)

number = 123
number_to_string = str(number)
concatenated_with_number = number_to_string + " is a number"
print("Exercise 6 String with Number:", concatenated_with_number)

# Exercise 6: String SPace
string1 = "Hello"
string2 = "World"
concatenated = string1 + " " + string2
print("Exercise 6 Concatenated Strings:", concatenated)

number = 123
number_to_string = str(number)
concatenated_with_number = number_to_string + " is a number"
print("Exercise 6 String with Number:", concatenated_with_number)

# Exercise 7: User Input and Type Casting
user_input = input("Enter a number: ")
converted_input = int(user_input)
result_operation = converted_input * 2
print("Exercise 7 Result of Operation:", result_operation)

# Exercise 8: Converting Boolean to Integer
bool_var = True
print("Exercise 8 Original Boolean:", bool_var)
bool_to_int = int(bool_var)
print("Exercise 8 Converted to Integer:", bool_to_int)

# Exercise 9: Complex Number Operations
complex_num = 3 + 4j
print("Exercise 9 Complex Number:", complex_num)
print("Exercise 9 Real Part:", complex_num.real)
print("Exercise 9 Imaginary Part:", complex_num.imag)

# Exercise 10: Type Conversion Challenge
string_float = "3.1415"
converted_float = float(string_float)
converted_int = int(converted_float)
print("Exercise 10 Original String:", string_float)
print("Exercise 10 Converted to Float:", converted_float)
print("Exercise 10 Converted to Integer:", converted_int)

Exercise 1 Result: 15.5
Exercise 2 Original Integer: 42
Exercise 2 Converted to Float: 42.0
Exercise 3  string_number: 42
Exercise 3 Converted Integer: 42
Exercise 4 Original Float: 8.75
Exercise 4 Cast to Integer: 8
Exercise 5 Integer Type: <class 'int'>
Exercise 5 Float Type: <class 'float'>
Exercise 5 String Type: <class 'str'>
Exercise 6 Concatenated Strings: Hello World
Exercise 6 String with Number: 123 is a number
Enter a number: 45
Exercise 7 Result of Operation: 90
Exercise 8 Original Boolean: True
Exercise 8 Converted to Integer: 1
Exercise 9 Complex Number: (3+4j)
Exercise 9 Real Part: 3.0
Exercise 9 Imaginary Part: 4.0
Exercise 10 Original String: 3.1415
Exercise 10 Converted to Float: 3.1415
Exercise 10 Converted to Integer: 3

In [11]:

# Exercise 1: String Addition (Concatenation)
string1 = "Hello"
string2 = "World"
concatenated_string = string1 + " " + string2
print("Exercise 1 Concatenated String:", concatenated_string)

# Exercise 2: Multiline String
multiline_string = """Roses are red,
Violets are blue,
This is a multiline string,
Just for you."""
print("Exercise 2 Multiline String:")
print(multiline_string)

# Exercise 3: Convert to Uppercase
user_input_upper = input("Enter a string to convert to uppercase: ")
uppercase_string = user_input_upper.upper()
print("Exercise 3 Uppercase String:", uppercase_string)

# Exercise 4: Convert to Lowercase
sample_string = "This Is A Sample String"
lowercase_string = sample_string.lower()
print("Exercise 4 Lowercase String:", lowercase_string)

# Exercise 5: String Repetition
repeat_string = "Echo! "
repeated_string = repeat_string * 5
print("Exercise 5 Repeated String:", repeated_string)

Exercise 1 Concatenated String: Hello World
Exercise 2 Multiline String:
Roses are red,
Violets are blue,
This is a multiline string,
Just for you.
Enter a string to convert to uppercase: sada
Exercise 3 Uppercase String: SADA
Exercise 4 Lowercase String: this is a sample string
Exercise 5 Repeated String: Echo! Echo! Echo! Echo! Echo!

In [16]:
str = "Hello World"
print (str[5:11])

 World

In [19]:
x = "Hello"
y = "abc"
x = y
print(y)
print(x == y)

abc
True

In [12]:
name = "Biswa"
age=33
print("my name is {} and my age is {}".format(name,age))
print(f"my name is {name} and my age is {age}")
print("my name is %s and my age is %d" %(name,age))

my name is Biswa and my age is 33
my name is Biswa and my age is 33
my name is Biswa and my age is 33

In [19]:
num = 123.1234
print(f"Formatted Number: {num:2f}")
num1 = 1231234
print(f"Formatted Number: {num1:,}")

Formatted Number: 123.123400
Formatted Number: 1,231,234

In [20]:
print(f"{'left':<10}{'center':^10}{'right':>10}")

left        center       right

In [26]:

print("he said \"its a sunny day\"")

he said "its a sunny day"

In [28]:
print("it has", 76 , "methods")

it has 76 methods

In [31]:
fruits = ["banana", "apple", "orange"]
fruits.reverse
print(fruits.reverse)
print(type(fruits))

<built-in method reverse of list object at 0x7953716f5640>
<class 'list'>

In [37]:
name = input("enter your name: ")
print(f"\"Hello, {name}! Welcome to Python programming.\"")

enter your name: Biswa
"Hello, Biswa! Welcome to Python programming."

In [43]:
x = float(input())
y = float(input())
r= x+y
print(f"result is {r:.2f}")

6
5
result is 11.000000

In [44]:
name = "Alice"
age = 25
city = "New York"
sentence = f"{name} is {age} years old and lives in {city}."
print(sentence)

Alice is 25 years old and lives in New York.

In [45]:
celsius = float(input("Enter the temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"The temp is {celsius:.2f}°C or {fahrenheit:.2f}°F.")

Enter the temperature in Celsius: 45
The temperature is 45.00°C or 113.00°F.

In [48]:
item_name = "Laptop"
price = 999.9
quantity = 2
total_cost = price * quantity

print(
    f"-----------------------------\n"
    f"Item: {item_name}\n"
    f"Price: ${price:.2f}\n"
    f"Quantity: {quantity}\n"
    f"Total Cost: ${total_cost:.2f}\n"
    f"-----------------------------"
    )

-----------------------------
Item: Laptop
Price: $999.90
Quantity: 2
Total Cost: $1999.80
-----------------------------

In [55]:
num = list(range(100))
print(num)
print(num[1:100])
print(num[0:100:5])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [64]:
fruits = ["banana", "Apple", "cherry"]
fruits.append("Orange")
fruits.sort()
print(fruits)
fruits.sort(reverse=True)
print(fruits)
fruits.sort(key=str.lower)
print(fruits)

['Apple', 'Orange', 'banana', 'cherry']
['cherry', 'banana', 'Orange', 'Apple']
['Apple', 'banana', 'cherry', 'Orange']
['Apple', 'banana', 'cherry', 'Orange']

In [67]:
fruits = ("banana", "Apple", "cherry")
print(type(fruits))
fruits.index("Orange")

<class 'tuple'>

ValueError: tuple.index(x): x not in tuple

In [68]:
cars = ["Toyota", "Honda", "Ford", "BMW", "Tesla"]

print("First three cars:", cars[:3])

print("Cars in reverse order:", cars[::-1])

print("Every second car:", cars[::2])

First three cars: ['Toyota', 'Honda', 'Ford']
Cars in reverse order: ['Tesla', 'BMW', 'Ford', 'Honda', 'Toyota']
Every second car: ['Toyota', 'Ford', 'Tesla']

In [69]:
my_list = []
my_list.append("Apple")
my_list.append("Banana")
my_list.append("Cherry")
print("List after appending:", my_list)

my_list.insert(1, "Orange")
print("List after inserting at second position:", my_list)

my_list.remove("Banana")
print("List after removing an element:", my_list)

List after appending: ['Apple', 'Banana', 'Cherry']
List after inserting at second position: ['Apple', 'Orange', 'Banana', 'Cherry']
List after removing an element: ['Apple', 'Orange', 'Cherry']

In [70]:
numbers = [10, 25, 5, 7, 30, 15]

largest = max(numbers)
smallest = min(numbers)

result = largest + smallest
print(f"Largest: {largest}, Smallest: {smallest}, Sum: {result}")

Largest: 30, Smallest: 5, Sum: 35

In [71]:
numbers = [10, 20, 30, 40, 50]

numbers[1] = 100
print("List after modification:", numbers)

List after modification: [10, 100, 30, 40, 50]