In [5]:
class Phone:
    def make_call(self):
       print("making call")
    def play_game(self):
       print("playing game")

    def set_color(self,color):
        self.color=color

    def set_cost(self,cost):
        self.cost=cost

    def show_colour(self):
        return self.color

    def show_cost(self):
        return self.cost

p1= Phone()

p1.make_call()
p1.play_game()
p1.set_color("blue")
p1.set_cost(500)
print(p1.show_colour())
print(p1.show_cost())

making call
playing game
blue
500

In [12]:
class Employee:
  def __init__(self,name,age,salary,gender):
    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender
  def employee_details(self):
    print("name of employee is",self.name)
    print("age of employee is",self.age)
    print("salary of employee is",self.salary)
    print("gender of employee is",self.gender)
e1 = Employee("Biswa", 22, 33, "M")
e1.employee_details()

name of employee is Biswa
age of employee is 22
salary of employee is 33
gender of employee is M
None
name of employee is Biswa
age of employee is 22
salary of employee is 33
gender of employee is M

In [13]:
class Animal:
    def __init__(self, species):
        self.species = species

    def display_species(self):
        print(f"Species: {self.species}")
animal = Animal("Dog")
animal.display_species()

Species: Dog

In [14]:
class Person:
    def greet(self):
        print("Hello!")

person = Person()
person.greet()

Hello!

In [15]:
class Car:
    def __init__(self, brand, year):
        self.brand = brand
        self.year = year

    def display_details(self):
        print(f"Brand: {self.brand}, Year: {self.year}")

car = Car("Toyota", 2020)
car.display_details()

Brand: Toyota, Year: 2020

In [16]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

circle = Circle(5)
print(f"Area of the circle: {circle.area():.2f}")

Area of the circle: 78.54

In [17]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def set_age(self, age):
        self.age = age

    def get_age(self):
        return self.age

student = Student("Alice", 20)
student.set_age(21)
print(f"Name: {student.name}, Age: {student.get_age()}")

Name: Alice, Age: 21

In [18]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary

    def display_details(self):
        print(f"Name: {self.name}, Salary: {self.salary}")

employee = Employee("John")
employee.display_details()

Name: John, Salary: 30000

In [19]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def display_details(self):
        print(f"Title: {self.title}, Author: {self.author}")

book = Book("1984", "George Orwell")
book.display_details()

Title: 1984, Author: George Orwell

In [20]:
class Laptop:
    def __init__(self, price):
        self.price = price

    def apply_discount(self, percentage):
        self.price -= self.price * (percentage / 100)
        print(f"New price after discount: {self.price:.2f}")

laptop = Laptop(1000)
laptop.apply_discount(10)

New price after discount: 900.00

In [21]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def perimeter(self):
        return 2 * (self.width + self.height)

rectangle = Rectangle(4, 7)
print(f"Perimeter of the rectangle: {rectangle.perimeter()}")

Perimeter of the rectangle: 22

In [22]:
class Employee:
    def __init__(self, name, position, salary):
        self.name = name
        self.position = position
        self.salary = salary

    def display_details(self):
        print(f"Name: {self.name}, Position: {self.position}, Salary: {self.salary}")

    def update_salary(self, percentage):
        self.salary += self.salary * (percentage / 100)
        print(f"Updated Salary: {self.salary:.2f}")

employee = Employee("Jane", "Manager", 50000)
employee.display_details()
employee.update_salary(10)

Name: Jane, Position: Manager, Salary: 50000
Updated Salary: 55000.00